					<div class="view-content view-list-indexed-business">
						<div class="views-row views-row-1 views-row-odd views-row-first">
							<div class="views-row-inner">
								<div class="col-sm-9">
									<div class="views-field views-field-title">
										<span class="field-content">
											<div class="field-title">
												<a href="{{ path('app_frontend_event', {'categorySlug': category.slug, 'eventSlug': event.slug, 'id': event.id}) }}" >{{ event.title }}</a>
											</div>
										</span>
									</div>
									<div class="views-field views-field-field-location-taxonomize-terms-location-taxonomize-longname">
										<span class="field-content">Catégorie &gt;
										</span>
										<span class="views-field views-field-field-tags">
											<span class="field-content">
												<a href="{{ path('app_frontend_category', {'categorySlug': category.slug}) }}" >{{ category.title }}</a>
											</span>
										</span>
									</div>


									<div class="views-field views-field-field-location-taxonomize-terms-location-taxonomize-longname">
										<span class="field-content">Date :
										</span>
										<span class="views-field views-field-field-postaladdress-postal-code">
											<span class="field-content">
												{{ dateRange(event.startDate, event.endDate) }}</span>
										</span>
									</div>
									<div class="views-field views-field-field-location-taxonomize-terms-location-taxonomize-longname">
										<span class="field-content">Horaire :
										</span>
										<span class="views-field views-field-field-postaladdress-postal-code">
											<span class="field-content">{{ hourRange(event.startAt, event.endAt) }}</span>
										</span>
									</div>
									<div class="views-field views-field-field-location-taxonomize-terms-location-taxonomize-longname">
										<span class="field-content">Lieu :
										</span>
										<span class="views-field views-field-field-postaladdress-postal-code">
											<span class="field-content">
												{{event.city.name}} - {{event.legacyAdress}}</span>
										</span>
									</div>
									<div class="views-field views-field-field-price-range">
										<span class="field-content">
											{{event.description |striptags|length > 66 ? event.description|striptags|slice(0, 65) ~ '...' : event.description|striptags}} <br/>
											<a href="{{ path('app_frontend_event', {'categorySlug': category.slug, 'eventSlug': event.slug}) }}" data-modified-href="">Détails sortie...</a>
										</span>
									</div>
								</div>
								<div class="col-sm-3">

									<div class="views-field views-field-field-image searchcover">
										<span class="field-content">
											<a href="../marches-potiers/17450-ceramique-a-fouras-fouras-100384813" data-modified-href="https://www.flanerbouger.fr/marches-potiers/17450-ceramique-a-fouras-fouras-100384813">
												<img class="img-responsive" src="/events/storage/events/100384813/images/Affiche A4 - 2025.jpg" loading="lazy" alt="Céramique à Fouras">
											</a>
										</span>
									</div>

								</div>

								<div class="clearfix"></div>

							</div>
						</div>
					</div>